<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Add Book</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!-- [if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif] -->
		<link href="css/styles.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
	</head>
	<body>
                  
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/index" class="navbar-brand">Home</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
              <%for(i=0;i<nav.length;i++){%>
            <li>
              <a href=<%=nav[i].link%>><%=nav[i].name%></a>
            </li>
            <%}%>
            
          </ul>
          
        </nav>
      </div>
</header>





<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Update Book
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
        
          <!--/stories-->
          <div class="container">
            <div class="row">
          
              <div class="main">
          
                
                <form role="form" action="/updatebook/<%=book.title%>" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="title">Book Title</label>
                    <input type="text" class="form-control" id="booktitle" name="title" value="<%=book.title%>" required>
                   </div>
                  <div class="form-group">
                    
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="addauthor" name="author" value="<%=book.author%>" required>
                  </div>
                  <div class="form-group">
                    
                    <label for="genre">Genre</label>
                    <input type="text" class="form-control" id="genre" name="genre"  value="<%=book.genre%>" required>
                  </div>
                  
                  <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" value="<%=book.description%>"  required>
                  </div>
                  <div class="form-group">
                    <label for="image">Book Image</label>
                    <!-- <input type="text" class="form-control" id="image" name="image"  required> -->
                    <input type="file" name="image" id="fileToUpload" value="<%=book.image%>">
                  </div>
                  <!-- <div class="checkbox pull-right">
                    <label>
                      <input type="checkbox">
                      Remember me </label>
                  </div> -->
                  <button type="submit" class="btn btn btn-primary">
                    Update
                  </button>
                </form>
              
              </div>
              
          <hr>
          <!--/stories-->
          
          
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>